.list {
    list-style: circle;
}

@media (min-width: 576px) {
    .card {
        width: 20%; 
    }
}

.brandcolor {
    color: #1dcd8d;
    text-align: center; /* Center the title */
    font-weight: bold;
    margin-top: 10px;
}
